<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4254a8aa-6898-4089-a2fc-3e68610996c4/resourcegroups/Challenge20220831202939ResourceGroup/providers/Microsoft.Web/sites/Challengetechacademy</ResourceId>
    <ResourceGroup>Challenge20220831202939ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://challengetechacademy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2b683916-de50-4801-ae3c-64a28b2108ec</ProjectGuid>
    <PublishUrl>https://challengetechacademy.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Challengetechacademy</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>